@import url("https://fonts.googleapis.com/css2?family=Michroma&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
.HomePageContainer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  overflow: hidden;
}
.contentStyle {
  grid-column: 1/3;
  width: 100%;
  color: rgb(255, 255, 255);
  text-shadow: 3px 3px 15px rgb(100, 100, 100);

  font-size: 30px;
  line-height: 160px;
  text-align: center;
  background-color: #57a1f9;
  background-image: linear-gradient(180deg, #f0acea 0%, #ffffff 100%);
  padding: 100px 0px;
  font-family: "Michroma", sans-serif;
  display: flex;
  flex-direction: column;
}
.contentStyle h1 {
  color: white;
  font-size: 40px;
  font-weight: 700;
}
.contentStyle h5 {
  color: white;
  font-weight: 700;
  font-size: 40px;
}

.carouselDIV {
  grid-column: 1/3;
  width: 100%;
  margin: 0 auto;
  max-width: 900px;
  overflow: hidden;
}
.signUpNow {
  width: 100%;
  height: 100%;

  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signUpNow h1 {
  font-size: 55px;
  font-family: "Ubuntu", sans-serif;
}
.signUpNow button {
  width: 200px;
  font-family: "Ubuntu", sans-serif;
  cursor: pointer;
  height: 80px;
  background-color: transparent;
  border-radius: 15px;
  font-size: 25px;
  color: rgb(187, 98, 199);
  border: 3px solid rgb(187, 98, 199);
  transition: 0.5s;
}
.signUpNow button:hover {
  border: 3px solid white;
  background-color: rgb(187, 98, 199);
  color: white;
}
.latestUsers {
  width: 80%;
  height: 100%;
  border: 1px solid #ccc;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  padding: 15px;
}
.latestUsers img {
  transition: 0.5s;
}
.latestUsers img:hover {
  transform: scale(1.1);
}
.latestUsers p {
  color: grey;
  font-weight: 400;
}
