.LayoutBackgorund {
  background-color: red;
  min-height: 100vh;
  background-color: #57a1f9;
  background-image: linear-gradient(62deg, #57a1f9 0%, #e99af2 100%);

  display: flex;
  justify-content: center;
  align-items: center;
}

.transperantBackground {
  background-color: white;

  min-height: 80vh;
  width: 60%;
  border-radius: 20px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  z-index: 1;
  display: flex;
}

.leftMenu {
  flex: 1;
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  padding: 25px;
  border-radius: 2rem;
}

.Menu {
  border-radius: 20px;
  background-color: #57a1f9;
  background-image: linear-gradient(62deg, #57a1f9 0%, #e99af2 100%);

  margin: 0 auto;
  padding: 55px;
  align-self: flex-start;
}

.navigator {
  height: 200px;
  display: flex;
  font-size: 18px;
  font-weight: 600;

  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  text-decoration: none;
  list-style: none;
}
.navigator a {
  margin-left: -50px;
  transition: 0.5s;
}
.navigator a:hover {
  transform: scale(1.1);
}

.rightMenu {
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
  flex: 3;
  padding: 25px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  text-align: center;
  background-color: white;
}

.btnSettings {
  width: 45px;
  height: 45px;
  border: 1px solid grey;
  color: grey;
  background-color: unset;
  border-radius: 100%;
}

.loginBtn {
  width: 100%;
  background-color: #e99af2;

  color: white;
  font-weight: 700;
  border: 1px solid #ccc;
}
.facebookBtn {
  margin-top: 5px;
  width: 100%;
  background-color: #2f55a4;
  color: white;
  font-weight: 700;
}

.logout {
  cursor: pointer;
  font-weight: 500;
}
.register:hover {
  text-decoration: underline black;
}

.logout {
  cursor: pointer;
  color: grey;
  font-weight: 500;
}
.logout:hover {
  text-decoration: underline grey;
}

.notifications {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.notifications span {
  margin: 10px;
  color: grey;
  cursor: pointer;
}
.notifications:hover {
  color: white;
}
.notifications span:hover {
  color: rgb(255, 255, 255);

  background-color: #57a1f9;
  background-image: linear-gradient(62deg, #57a1f9 0%, #e99af2 100%);
  border-radius: 100%;
}

.btnToggle {
  display: none;
}
@media only screen and (max-width: 768px) {
  .LayoutBackgorund {
    position: relative;
  }
  .btnToggle {
    display: block;
    position: fixed;
    top: 12px;
    width: 60px;
    height: 60px;

    border-radius: 100px;
    left: 12px;
    font-size: 38px;
    color: rgb(255, 255, 255);
    z-index: 5;
    background-image: linear-gradient(62deg, #57a1f9 0%, #e99af2 100%);

    text-align: center;
  }
  .leftMenu {
    background-color: #e5c2e9;
    display: none;
    position: fixed;
    justify-content: flex-start;
    border-radius: 0;
    z-index: 45;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
  }

  .Menu {
    padding: 10px 55px;
  }

  .navigator {
    justify-content: space-evenly;
  }

  .rightMenu {
    width: 100%;
    height: 100%;

    border-radius: 0px;
    min-height: 100vh;
  }
  .transperantBackground {
    border-radius: 0px;

    height: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 770px) {
  .rightMenu {
    width: 100%;
    height: 80%;

    border-radius: 0px;
    min-height: 100vh;
  }
  .transperantBackground {
    border-radius: 0px;

    height: 100%;
    width: 100%;
  }
}
